* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

a {
    text-decoration: none;
}

.div-padre {
    display: flex;
    flex-flow: column nowrap;
    background: url(imagenes/f01.jpg);
    background-position: center;
    background-attachment: contain;
    background-size: cover;
}

.margen-interno {
    padding: 0 50px;
}

.header {
    display: flex;
    flex-flow: column nowrap;
}


.menu {
    background: rgba(0, 0, 0, 0.78);
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    height: 120px;
}

.logo {
    flex: 1 1 auto;
}

.logo img {
    padding-top: 10px;
    max-width: 30%;
    height: 30%;
}

.logo2 img {
    padding-top: 10px;
    max-width: 25%;
    height: 25%;
}

.logo a {
    color: #fff;
    font-size: 30px;
}

.nav {
    flex: 5 1 auto;
}

.nav a {
    color: #b2c0a5;
    font-size: 15px;
    text-transform: uppercase;
    padding: 0 10px;
    letter-spacing: 2px;
}

.nav .here {
    color: #ffffff;
    text-decoration: underline overline #ffffff 3px;

}


.nav a:hover {
    color: #fff;
}


.social {
    flex: 1 1 auto;
    display: flex;
}

.social a {
    color: #b2c0a5;
    padding: 0 5px;
}

.social a:hover {
    color: #ffffff;
}


/* */

.new-Body {
    padding-top: 5em;
    display: flex;
    justify-content: center;
}



.typewriter h1 {
    font-size: 40px;
    color: #fff;
    overflow: hidden;
    border-right: .15em solid #5F6F52;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    animation:
        typing 3.5s steps(30, end),
        blink-caret .5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

/* The typewriter cursor effect */
@keyframes blink-caret {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: #5F6F52
    }
}

/*  */

.principal {
    height: 2300px;
    color: white;
}

.principal2 {
    height: 1500px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.principal3 {
    height: 700px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.alert{
    display: flex;
}

#alert{
    margin-right: 10px;
}

.contenedor {
    flex: 2 1 auto;
    display: flex;
    flex-flow: row wrap;
    background: #ecf0d5;
    padding-top: 40px;
    margin-left: 2%;
    margin-right: 2%;
    height: 570px;

}

.imagen {
    height: 300px;
    width: 300px;
    margin-left: 100px;
    color: #ffffff;
    font-size: 13px;
    letter-spacing: 1px;
    flex: 1 1 40%;

}

.imagen img {
    height: 450px;
    width: 450px;
    border-radius: 90px 20px;
}

.textx {
    margin-left: -300px;
    height: 300px;
    width: auto;
    color: #5F6F52;
    font-size: 13px;
    letter-spacing: 1px;
    flex: 1 1 40%;
}

.h11 {
    padding-top: 40px;
    padding-right: 100px;
    font-size: 35px;
    color: #5F6F52;
    text-align: center;


}

.p2 {
    padding-right: 100px;
    padding-top: 30px;
    font-size: 25px;
    text-align: justify;
    letter-spacing: 0.01px;
}

.ab {
    padding-right: 100px;
    margin-top: 60px;
}

.ab a {
    position: relative;
    padding: 5px 15px;
    font-size: 30px;
    color: #FAFFE4;
    background: #5F6F52;
    letter-spacing: 2px;
    border-radius: 90px 20px;
    cursor: pointer;
    border: none;
    box-shadow: 0 4px #88aa7b;

}

.ab a:hover {
    background: #D3E4CD;
    color: #5F6F52;
    box-shadow: 0 4px #88aa7b;
    top: 2px;
}

.ab a:active{
    box-shadow: none;
    top: 6px;
}

.ED {
    margin-top: 50px;
    text-align: center;
    font-size: 50px;
}

.excursiones {
    flex: 2 1 auto;
    display: flex;
    flex-flow: row wrap;

}

.excursion {
    background: #ecf0d5;
    padding-top: 40px;
    margin: 35px;
    height: 570px;
    width: 394px;
    color: #5F6F52;
    border: 5px solid #fff;

}

.excursion h1 {
    text-align: center;

}

.excursion h2 {
    text-align: left;
    padding: 4px;
}

.excursion .center {
    text-align: center;
}

hr {
    border-top: 4px solid #ffffff;
}

.imagenE {
    padding-top: 8px;
    padding-bottom: 8px;
    max-width: 384px;
    max-height: 300;
}

.excursion a {
    position: relative;
    margin-top: 40px;
    padding: 5px 15px;
    font-size: 20px;
    color: #FAFFE4;
    background: #5F6F52;
    letter-spacing: 2px;
    border-radius: 90px 20px;
    cursor: pointer;
    border: none;
    box-shadow: 0 4px #88aa7b;

}

.excursion a:hover {
    background: #D3E4CD;
    color: #5F6F52;
    box-shadow: 0 4px #88aa7b;
    top: 2px;
}

.excursion a:active{
    box-shadow: none;
    top: 6px;
}

.excursionnn {
    margin: 20px;
    text-align: center;
}

.aventuras {
    margin-top: 40px;
    background: #ecf0d5;
    padding-top: 40px;
    margin-left: 2%;
    margin-right: 2%;
    height: 400px;
    color: #5F6F52;
    align-content: center;
    align-items: center;
}

.prox {
    font-size: 40px;
    text-align: center;
}

h3 {
    margin-top: 20px;
    font-size: 20px;
    text-align: center;
}

.textarea {

    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 90px 20px;
    width: 500px;
    margin-top: 20px;
    margin-bottom: 25px;
    color: #000;
}


.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 25px;
}


.textarea2 {

    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 90px 20px;
    width: 500px;
    height: 200px;
    margin-top: 20px;
    margin-bottom: 25px;
}


.reseña {
    margin-top: 30px;
    margin-bottom: 50px;
    margin-left: 1%;
    margin-right: 1%;
    padding: 15px;
    flex: 2 1 auto;
    display: flex;
    flex-flow: row wrap;
}

.DejarReseña {
    padding-top: 10px;
    background: url(imagenes/f01.jpg);
    width: 48%;
    height: 450px;
    color: #ffffff;
    margin-right: 60px;
}

.container {
    max-width: 1100px;
    width: 48%;
}


.card {
    height: 450px;
    background: url(imagenes/f01.jpg);
    color: #5F6F52;

}

.H1N {
    color: #ffffff;
    text-align: center;
    font-size: 25px;
    margin-top: 40px;
    margin-bottom: 25px;
}

.Opi {
    font-size: 20px;
    color: #000;
    background-color: #ffffff;
    margin-left: 5%;
    margin-right: 5%;
    height: 200px;
    padding: 2%;
    border-radius: 60px 20px;
    margin-bottom: 18px;
}

.imagenR {
    margin-left: 350px;
}


.formularioReseñas {
    font-size: 18px;
    text-align: left;
    padding-left: 30px;
}

.rsñ {
    font-size: 28px;
    text-align: center;
}

.submit-btn {
    display: block;
    position: relative;
    padding: 5px 15px;
    font-size: 20px;
    color: #FAFFE4;
    background: #5F6F52;
    letter-spacing: 2px;
    border-radius: 90px 20px;
    border: none;
    cursor: pointer;
    box-shadow: 0 4px #88aa7b;
    width: 150px;
    margin-left: 3px;
}

.b2{
    width: 230px;
}

.submit-btn:hover {
    background: #D3E4CD;
    color: #5F6F52;
    box-shadow: 0 4px #88aa7b;
    top: 2px;
}

.submit-btn:active {
    box-shadow: none;
    top: 6px;
}

#modal::backdrop {
    background: rgba(0, 0, 0, 0.78);
}

#modal2::backdrop {
    background: rgba(0, 0, 0, 0.78);
}

#modal {
    height: 550px;
    width: 500px;
    position: absolute;
    top: 100px;
    left: 700px;
    background: #ecf0d5;
    color: #5F6F52;
    ;
    border-radius: 20px;
    border: 5px solid #5F6F52;
    padding: 50px;
    font-size: 20px;
}
li{
    list-style:none;
}

#modal h1 {
    text-align: center;
    padding-bottom: 20px;
}
.controlC{
    flex: 2 1 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}
.anclaM {
    margin-left: 75%;
}


.bv{
    font-size: 25px;
}



.textarea1 {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 90px 20px;
    width: 300px;
    margin-top: 20px;
    margin-bottom: 25px;
}

.footer {
    background: #000;
    display: flex;
    justify-content: center;
    height: 30px;
}

.pie {
    text-align: center;
}

.pie a {
    color: #fff;
    font-size: 11px;
    text-transform: uppercase;
    padding: o 10px;
    letter-spacing: 2px;
}